<div class="row">
	<div class="twelvecol last">
		
		
		<% if @game.moby_url.present? %>
			<%= link_to "View on Moby Games", "http://mobygames.com#{@game.moby_url}", :target => "_blank" %>
		<% end %>

	</div>
	
</div>
