<div class="game_list">
	<h2>Choose System</h2>
	<% System.all.each do |system| %>
		<%= link_to system.name, "#", :class => "system" %>
	<% end %><br /><hr />


	<% @games.each do |game| %>
		<%= link_to "#{game.title}", game %><span class="game_list_system"><%= game.system.name %></span>
	<% end %>
</div>

<%= link_to "New Game", new_game_path %>
