<div class="row">
	<div class="eightcol">
		<h2>New Game</h2>
		<%= render "form" %>
	</div>
	<div class="fourcol last">
		<h2>Rules</h2>
		<p>
			Please make sure you aren't entering a duplicate game by doing a search first.
		</p>
		<p>
			Keep the title clean. <br />
			For example, use "Mega Man 3" instead of "Megaman Three for NES".<br />
			You don't have to enter the system in the title.
			
		</p>
	</div>
</div>
